pkgbase = alacritty
	pkgdesc = A cross-platform, GPU-accelerated terminal emulator
	pkgver = 0.13.0
	pkgrel = 3
	url = https://github.com/alacritty/alacritty
	arch = x86_64
	license = Apache
	checkdepends = ttf-dejavu
	makedepends = git
	makedepends = rust
	makedepends = cargo
	makedepends = cmake
	makedepends = ncurses
	makedepends = desktop-file-utils
	makedepends = gdb
	makedepends = libxcb
	makedepends = scdoc
	depends = freetype2
	depends = fontconfig
	depends = libxi
	depends = libxcursor
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrandr
	optdepends = ncurses: for alacritty terminfo database
	source = git+https://github.com/alacritty/alacritty.git#tag=v0.13.0?signed
	validpgpkeys = 4DAA67A9EA8B91FCC15B699C85CDAE3C164BA7B4
	validpgpkeys = A56EF308A9F1256C25ACA3807EA8F8B94622A6A9
	sha256sums = SKIP

pkgname = alacritty
