pkgbase = julia
	pkgdesc = Julia with Profile-Guided Optimization (PGO)
	pkgver = 1.10.0
	pkgrel = 1
	url = http://julialang.org/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = libwhich
	makedepends = patchelf
	makedepends = python
	depends = blas64-openblas
	depends = fftw
	depends = libblastrampoline
	depends = libgit2
	depends = libunwind
	depends = libutf8proc
	depends = lld
	depends = mbedtls2
	depends = mbedtls
	depends = openlibm
	depends = p7zip
	depends = pcre2
	depends = suitesparse
	optdepends = gnuplot: If using the Gaston Package from julia
	source = git+https://github.com/JuliaLang/julia.git
	source = julia-hardcoded-libs.patch
	source = julia-suitesparse-7.patch
	validpgpkeys = 3673DF529D9049477F76B37566E3C7DC03D6E495
	sha256sums = SKIP
	sha256sums = 6e9d32c00d4ebdc16f7bbb4b870af4c90b1002e60b37915e5923398051ce2dcc
	sha256sums = 90e7f90053486bba26348cbc4f725958159ca5b6b1805124ccf050203dc2f468

pkgname = julia
